%div.container
  %div.row
    %div.col-md-9
      %ul
        - @appointments.each do |appointment|
          %li= appointment.name

    %div.col-md-3
      %i.glyphicon.glyphicon-plus
      = link_to 'Adicionar compromisso', [:new, :appointment]
