%div.container
  %div.row
    %div.col-md-9
      %ul
        - @appointments.each do |appointment|
          %li= appointment.name

    %div.col-md-3
      = link_to [:new, :appointment], class: 'btn btn-primary' do
        %i.glyphicon.glyphicon-plus
        %span Adicionar compromisso

      #calendar

:coffee
  do hermes.calendar
