%div.container
  %div.row
    %div.col-md-9
      %ul
        - 24.times do |i|
          %li
            = i
            %ul
              - select_by_hour(i, @appointments).each do |appointment|
                %li= appointment.name

    %div.col-md-3
      = link_to 'Adicionar compromisso', [:new, :appointment]
